port: 7880
redis:
  address: redis:6379
rtc:
  tcp_port: 7881
  port_range_start: 50000
  port_range_end: 50200
  use_external_ip: true
turn:
  enabled: true
  udp_port: 3478
  relay_range_start: 51000
  relay_range_end: 51100
keys:
  <GENERATE_API_KEY>: <GENERATE_API_SECRET>
webhook:
  api_key: <GENERATE_API_KEY>
  urls:
    - https://nasihaforyou.org/api/webhooks/livekit
